<p>
	<%= user.label :email %>
	<%= user.email_field :email %>
</p>
<p>
	<%= user.label :password %>
	<%= user.password_field :password %>
</p>
<p>
	<%= user.label :password_confirmation %>
	<%= user.password_field :password_confirmation %>
</p>